.info-item {
	font-size: 1.5rem;

	@media (max-width: $lg) {
		font-size: 1.2rem;
	}

	&__icon {
		width: 30px;
		height: 30px;
		fill: #fff;

		@media (max-width: $lg) {
			width: 25px;
			height: 25px;
		}

		@media (max-width: $sm) {
			width: 18px;
			height: 18px;
		}
	}

	&__description {
		margin-top: 7px;
		color: #ffffff99;

		@media (max-width: $lg) {
			margin-top: 4px;
		}
	}

	&__text {
		display: -webkit-box;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;
		overflow: hidden;
		margin-top: 7px;
		line-height: 2.5rem;

		@media (max-width: $lg) {
			margin-top: 4px;
			line-height: 1.5rem;
		}
	}
}
