*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	height: 100%;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	padding: 0 1.5rem;
	color: #fff;
	font-family: "Inter", sans-serif;
	font-size: 1.5rem;
	font-weight: 500;
}

h1,
h2,
h3,
p,
ul {
	margin: 0;
	padding: 0;
}
