*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	background-color: #1b1b1b;
	color: #fff;
	font-family: "Inter", sans-serif;
	font-size: 1.5rem;
	font-weight: 500;
}

h1,
h2,
h3,
p,
ul {
	margin: 0;
	padding: 0;
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	padding: 1.5rem;
}
